.btn-hm {
display: inline-block;
	margin: 0.22em;
	margin-right: 1em;
	font-size: 0.9em;
	padding: 1px 20px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 100% auto;
	color: black;
	width: 4.3em;
	box-shadow: 0 1px 2px;
	cursor: pointer;
	border-radius: 2px;
}

.btn-1 {
	background-image: linear-gradient(to right, #c9461c 0%, #e86b21 30%, #f7bb32 60%, #6ba316
		100%);
}

.btn-2 {
	background-image: linear-gradient(to right, #ffffcc 0%, #c7e9b4 30%, #41b6c4 60%, #1d91c0
		100%);
}

.btn-3 {
	background-image: linear-gradient(to right, #f7f7f7 0%, #bdbdbd 30%, #969696 60%, #737373
		100%);
}

#fieldset {
	width: 50%;
}

.wrapper {
	position: absloute;
	width: auto;
	height: 100%;
	margin-top: 30px;
}

input[type="range"] {
	appearance: none;
	width: 24em;
	outline: none;
	position: absolute;
	margin: auto;
	top: 42px;
	height: 1%;
	pointer-events: none;
	background-color: transparent;
}

.slider-track {
	width: 23em;
	height: 7px;
	position: absolute;
	margin: auto;
	top: 40px;
	background-image: linear-gradient(to right, #dddddd 0%, #dddddd 100%);
	border-radius: 3px;
	border: 1px solid black;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 1.5em;
	width: 1.7em;
	background-image: linear-gradient(to bottom, #ffffff 0%, #f9f9f9 40%, #c9c9c9 100%);
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid black;
	pointer-events: auto;
}

/*add same effect for Mozilla Firefox browser*/
input[type="range"]::-moz-range-thumb {
	-webkit-appearance: none;
	height: 1.5em;
	width: 1.7em;
	background-image: linear-gradient(to bottom, #ffffff 0%, #f9f9f9 40%, #b9b9b9 100%);
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid black;
	pointer-events: auto;
}

input[type="range"]:active::-webkit-slider-thumb {
	background-image: linear-gradient(to top, #ffffff 0%, #f9f9f9 20%, #b9b9b9 100%);
	border: 2px solid black;
}

input[type="range"]:active::-moz-range-thumb {
	background-image: linear-gradient(to top, #ffffff 0%, #f9f9f9 20%, #b9b9b9 100%);
	border: 2px solid black;
}

.values {
	background-color: #b9b9b9;
	width: 30%;
	top: -25px;
	position: relative;
	margin-left: 7.8em;
	padding: 2px;
	border-radius: 5px;
	text-align: center;
	
}